events { }

http {
    upstream private_servers {
        server private[0];
        server private[1];
    }

    server {
        listen 80;

        location / {
            proxy_pass http://private_servers;
        }
    }
}