http {
    upstream private_servers {
        server 10.0.2.1;
        server 10.0.3.1;
    }

    server {
        listen 80;

        location / {
            proxy_pass http://private_servers;
        }
    }
}